{
  "presets": [
    "@babel/preset-flow",
    ["@babel/preset-env", {
      "targets": { "node": "current" },
      "modules": "commonjs",
      "useBuiltIns": "usage",
      "debug": false
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "spec": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ],
  "sourceMaps": "inline"
}
