{
  "presets": [
    "es2015",
    "es2016",
    "es2017",
    "stage-1",
    "flow",
    ["env", {
      "targets": { "node": "current" },
      "modules": "commonjs",
      "useBuiltIns": true,
      "debug": true
    }]
  ],
  "plugins": ["transform-runtime", "transform-decorators-legacy"]
}
